<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="login">
<!-- main start-->

<!-- views/login/login.ejs -->
<div class="message"><%= loginMessage %></div>
<div class="buttons">
  <a href="/" class="button float_left">이전으로</a>
  <a href="/users/new" class=" button float_right">회원가입</a>
</div>
<h3>로그인</h3>
<form class="checkValidation" action="/login" method="post">
  <div class="inputs">
    <div class="floats">
      <label>이메일</label>
      <input class="cvRequired" type="text" name="email" cvRqErrMsg="이메일" cvRqErrTo="#cvRqErrEmail" value="">
      <div id="cvRqErrEmail" class="message"></div>
    </div>
    <div class="floats">
      <label>비밀번호</label>
      <input class="cvRequired" type="password" name="password" cvRqErrMsg="비밀번호" cvRqErrTo="#cvRqErrPassword" value="">
      <div id="cvRqErrPassword" class="message"></div>
    </div>
    <% loginError.forEach(function(e){ %>
        <div class="message"><%= e %><div>
    <% }) %>
  </div>
  <div class="buttons">
    <input class="button" type="submit" value="제출">
  </div>
</form>

<!-- main end -->
    </div><!--login end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
